.order-form {
  margin: 4rem 0;

  & > h6 {
    margin: 1rem 0;

  }

  & .submit {
    text-align: center;

    & button {
      margin: 2rem 0 4rem;
      font-family: "Noto Kufi Arabic";
      font-weight: 600;
    }
  }
}
