.form {
    margin: 2rem 0;
  
  & .group {
    margin: 2rem 0;
    & .row {
      display: flex;

      & .header {
        flex: 0 1 50%;
      }
    }
  }

  & .submit {
    text-align: center;
    & button {
      margin: 2rem 0 4rem;
      font-family: "Noto Kufi Arabic";
      font-weight: 600;
    }
  }
}
