.row {
    display: flex;

    & .header {
        flex: 0 1 50%;
    }

    & .price {
        flex: 0 1 20%;
    }

    & .count {
        flex: 0 1 20%;
        & > div {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            & button {
                outline: 0;
                border: 1px solid #ccc;
                height: 1.6rem;
                width: 1.6rem;
                border-radius: 5px;
                cursor: pointer;

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}